<html>
  <head>
    <style type="text/css">
	  h1 {
	    font-size: 25px;
		text-transform: uppercase;
	  }
      body {
        background: #24313B;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 110px auto;
        border: 15px solid white;
        padding: 15px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Katze des Tages</h1>
      <img src="{{url}}" />
      <p><small><a href="https://lerneprogrammieren.de/" target="_blank">LerneProgrammieren.de</a></small></p>
    </div>
  </body>
</html>
